@import url("https://fonts.googleapis.com/css2?family=Trykker&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: #333;
    text-decoration: none;
}
/* 상단 */
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #d9f3af;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
    align-items: center;
    background-color: yellow;
    padding: 20px;
}
/* logo */
.logo {
    font-size: 28px;
    font-weight: bold;
    font-family: "Trykker", serif;
}
/* menu */
nav {
    display: flex;
    gap: 30px;
}
nav a {
    font-size: 18px;
}
nav a:hover {
    color: rgb(244, 162, 10);
    text-decoration: underline;
}
/* main */
main {
    padding: 77.5px 0;
    background-color: thistle;
}
/* 영상갤러리 */
.contents {
    width: 1000px;
    margin: auto;
    /* background-color: red; */
}
.contents > h2 {
    text-align: center;
    padding: 20px 0;
}
.card-list {
    display: flex;
    gap: 50px;
}
.card {
    position: relative;
    width: 300px;
    background-color: #333;
    border-radius: 20px;
    color: #fff;
    overflow: hidden;
}
.card img {
    width: 100%;
    display: block;
}
/* new */
.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background-color: red;
    border-radius: 20px;
    font-size: 14px;
}
.content {
    padding: 20px;
}
.content h2 {
    margin-bottom: 10px;
}
.content p {
    color: #aaa;
    margin-bottom: 20px;
}
.content button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #ff4d4d;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.content button:hover {
    background: #d51414;
}
/* 뮤지컬 영역 */
.musical-wrap {
    width: 1200px;
    margin: 50px auto;
    /* display: flex; */
    gap: 20px;
}
.musical-wrap > h2 {
    text-align: center;
    margin-bottom: 20px;
}
.musical-card {
    background-color: #fff;
    width: calc(100% / 4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.ticket-img img {
    width: 100%;
    display: block;
}
/* 이미지위에 랭킹 */
.ticket-img {
    position: relative;
}
.img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    background: linear-gradient(180deg, transparent 70%, rgba(0, 0, 0, 0.4));
}
.ticket-rank {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
    font-size: 70px;
    font-weight: bold;
}
.ticket-info {
    padding: 10px;
}
.ticket-info h3 {
    margin-bottom: 15px;
}
.ticket-sale {
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 11px;
    border: 1px solid #ef3e43;
    margin-top: 15px;
    display: inline-block;
}
/* sticky영역 */
.sticky-wrap {
    width: 1200px;
    background-color: azure;
    margin: auto;
}
.sticky-wrap h2 {
    text-align: center;
}
.sticky-container {
    display: flex;
}
.sticky-left {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: wheat;
}
.stikcy-right {
    width: 30%;
    padding: 20px;
    background-color: wheat;
}
.sticky-card {
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 20px;
}
.sticky-box {
    position: sticky;
    top: 100px;
    background-color: tomato;
}
.sticky-card {
    display: flex;
    gap: 30px;
}
.sticky-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sticky-card img {
    width: 100px;
}
footer {
    width: 100%;
    color: #fff;
    padding: 30px;
    background-color: slategrey;
}
